#tableManager button{
    margin: 0px 5px;
}
#tableManager{
    background-color: #FFF;
}
#table__Order{
    tbody{
        font-size: 1rem;
        input[type="text"]{
            width: 100%;
            border: 1px #e7e7e7 solid;
            border-radius: 5px;
            background-color: #FFF;
            text-align: center;
            transition: all 0.5s;
        }
        input[type='number']{
            width: 100%;
            border: 1px #e7e7e7 solid;
            border-radius: 5px;
            background-color: #FFF;
            text-align: center;
            transition: all 0.5s;
        }
    }
}
.editDriverr{
    label{
        width: 150px;
    }
}
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

